heroapi/env/
heroapi/static/
heroapi/heroapi/settings.py
heroapi/.vscode/
heroapi/db_dumps/
heroapi/media/

hackaboom_app/node_modules/
hackaboom_app/.idea/
hackaboom_app/.vscode/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/




# OSX
#
.DS_Store

# Xcode
#
hackaboom_app/build/
hackaboom_app/*.pbxuser
!default.pbxuser
hackaboom_app/*.mode1v3
!default.mode1v3
hackaboom_app/*.mode2v3
!default.mode2v3
hackaboom_app/*.perspectivev3
!default.perspectivev3
hackaboom_app/xcuserdata
hackaboom_app/*.xccheckout
hackaboom_app/*.moved-aside
hackaboom_app/DerivedData
hackaboom_app/*.hmap
hackaboom_app/*.ipa
hackaboom_app/*.xcuserstate
hackaboom_app/project.xcworkspace

# Android/IntelliJ
#
hackaboom_app/build/
hackaboom_app/.idea
hackaboom_app/.gradle
hackaboom_app/local.properties
hackaboom_app/*.iml

# node.js
#
hackaboom_app/node_modules/
hackaboom_app/npm-debug.log
hackaboom_app/yarn-error.log

# BUCK
hackaboom_app/buck-out/
\.buckd/
hackaboom_app/*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

node_modules/